extends layout

block stylesheets

block content
  include partials/header
  .events-container.sub-container
    each event in events
      .event(data-event=event)
        h3= event.title
        h6= event.description
        span#datetime
        address
          span= event.location.address.street
          br
          span= event.location.address.city + ', '
          span= event.location.address.state + ' '
          span= event.location.address.zip
        .event-links
          
    else
      .event
        h3 NOTHING HERE. 
        p This world is a vacuous empty pit of despair with nothing novel or exciting ever happening.

  include partials/social_media

block scripts
  script(src='/js/events.js')
