each event in events
  .event(data-event=event)
    .event-text
      h3= event.title
      h6= event.description
      -
        function checkSameDay(date1, date2) {
          date1 = Date.parse(date1);
          date2 = Date.parse(date2);
          return (date1 + (24 * 60 * 60 * 1000)) > date2;
        }

        function generateHumanDate(date1, date2) {
          date1 = new Date(date1);
          date2 = new Date(date2);
          var sameDay = checkSameDay(date1, date2);
          date1 = parseDate(date1);
          date2 = parseDate(date2);
          if(sameDay) {
            return date1.date + ', ' + date1.hours + ':' + date1.minutes + ' ' + date1.tod + ' - ' + date2.hours + ':' + date2.minutes + ' ' + date2.tod;
          } else {
            return date1.date + ', ' + date1.hours + ':' + date1.minutes + ' ' + date1.tod + ' - ' + date2.date + ', ' + date2.hours + ':' + date2.minutes + ' ' + date2.tod;
          }
        }

        function parseDate(d) {
          var hours = d.getHours();
          var tod = hours >= 12 ? 'PM' : 'AM';
          hours = formatHours(hours);
          var minutes = formatMinutes(d.getMinutes());
          var date = d.toDateString();
          return {
            date: date,
            hours: hours,
            minutes: minutes,
            tod: tod
          }
        }
        function formatHours(hours) {
          if (hours > 12) {
            return ('0' + Math.abs(12 - hours)).slice(-2);
          } else {
            return ('0' + hours).slice(-2);
          }
        }

        function formatMinutes(minutes) {
          return ('0' + minutes).slice(-2);
        }
      .date= generateHumanDate(event.date.start, event.date.end)
      address.address
        span= event.location.address.street
        br
        span= event.location.address.city + ', '
        span= event.location.address.state + ' '
        span= event.location.address.zip
    .event-links
      - var link = 'https://www.google.com/maps/dir//';
      each value, key in event.location.address
        - link += event.location.address[key] + ','
      a(href=link, target='_blank', rel='noopener noreferrer') Directions
      if event.link
        a(href='https://' + event.link.url, target='_blank', rel='noopener noreferrer')= event.link.text.charAt(0) + event.link.text.toLowerCase().slice(1)
else
  .event
    h3 NOTHING HERE. 
    p Check back later for upcoming events.
